.dialogues {
    margin: 10px;
}

.messageSender {
    min-width: 300px;
    height: 50px;
    position: relative;
    padding: 0 10px;
}

.messageSender textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    outline: none;
    border-radius: 10px;
    padding: 5px 60px 5px 10px;
    background-color: #FFCB73;
    border: 1px solid #052F6D;
    color: #052F6D;
}

.messageSender button {
    position: absolute;
    right: 15px;
    top: 10px;
}