
.user {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #FFCB73;
}

.imageBlock img {
    flex-shrink: 1;
    width: 200px;
    height: 150px;
    margin: 0 10px 10px 0;
    border: 2px solid #052F6D;
    border-radius: 10px;
}

.userInfo {
    min-width: 300px;
}

.userInfo h1 {
    margin-top: 0;
}

.profileBackgroundPicture {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}