.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 1em;
}

.difficulties {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.difficulties p {
    text-align: center;
}

.buttons button{
    margin: 0 5px;
}


.generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.map {
    min-width: 300px;
    min-height: 300px;
    border: 2px solid #052F6D;
    border-radius: 10px;
}

.map * {
    border-radius: 10px;
}