.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 1em;
}

.difficulties {
    display: flex;
    justify-content: space-between;
}

.map {
    width: 500px;
    height: 500px;
    border: 1px solid darksalmon;
    background-color: rgb(255, 194, 130);
    border-radius: 10px;
}