.header {
	width: calc(100vw - 25px);
  	max-width: 990px;
   	position: fixed;
   	display: flex;
    background-color: #ff9540;
    border: 5px solid white;
    border-radius: 0 0 10px 10px;
    z-index: 1;
}

.logoContainer {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
	.header {
		width: inherit;
    opacity: 0.5;
    transition: opacity .5s linear;
	}

  .header:hover {
    opacity: 1;
  }
}
