.rows {
	display: grid;
	grid-template-rows: repeat(9, 40px);
	grid-template-columns: repeat(1, 360px);
    border: 2px solid #052F6D;
    border-radius: 5px;
}

.cells {
	display: grid;
	grid-template-rows: repeat(1, 40px);
	grid-template-columns: repeat(9, 40px);
	justify-items: center;
	align-items: center;
}

.cell:nth-child(3) {
	margin-right: 2px;
}

.cell {
	width: 33px;
	height: 33px;
	border: 1px solid #052F6D;
	border-radius: 5px;
	background-color: #FFCB73;
	color: #052F6D;
	font-size: 20px;
	text-align: center;
}

.given {
	background-color: lightgreen;
}