.app-wrapper {
  min-width: 360px;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.app-wrapper__content {
  min-height: 800px;
  max-height: 800px;
  overflow-y: auto;
  background-color: #ff9540;
  border-radius: 10px;
}

