body {
  margin: 0;
  color: #052F6D;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  width: 50px;
  height: 30px;
  background-color: #ff9540;
  border: solid #052F6D;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: #052F6D;
}