body {
  margin: 0;
  color: #052F6D;
  font-size: 1.2em;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  height: 30px;
  font-size: 0.8em;
  background-color: #FFCB73;
  border: 2px solid #052F6D;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: #052F6D;
  transition: all .2s ease-out;
}

button:active {
  background-color: white;
  box-shadow: inset 0 0 0 1px grey;
}

h1 {
  font-size: 1.2em;
}